#myGallery {
	height: 550px;
	width: 80%;
	margin-left:100px ;
}
#myGallery img {
	border: 2px solid #52697E;
	border-radius:5px ;
}
a.loading {
	background: #fff url(../images/ajax_small.gif) no-repeat center;
}